/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoa4OWaA.ttf) format('truetype');
}
html {
  font-style: 62.5%;
}
body {
  background: floralwhite;
  font-family: monospace;
}
h1,
h2 {
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}
.container {
  max-width: 1000px;
  font-size: 1.8rem;
}
.container header {
  display: flex;
  flex-wrap: wrap;
}
.container header h1 {
  padding: 10px;
  width: 50%;
  font-size: 2.5rem;
  text-align: center;
  background: black;
  color: floralwhite;
}
.container header .photo-hobby-box {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container header .photo-hobby-box p {
  font-style: italic;
  font-size: 1.2rem;
}
.container header .photo-hobby-box .photo-img {
  width: 200px;
  border-radius: 200px;
}
.container header nav {
  padding: 5px 0;
  width: 100%;
  background: black;
  color: floralwhite;
  display: flex;
  justify-content: space-around;
}
.container header nav a {
  color: thistle;
  font-weight: bold;
  text-decoration: none;
}
.container header nav a:hover {
  padding: 5px;
  color: mistyrose;
  background: dimgray;
}
